.list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.mat-icon {
  cursor: pointer;
  font-size: 25px;
}

.right--action {
  display: flex;
  gap: 15px;
}

.new {
  background-color: white;
}

.important {
  background-color: #ff5733;
}

.urgent {
  background-color: #ff0000;
}

.routine {
  background-color: antiquewhite;
}

.optional {
  background-color: #ffc300;
}

.completed {
  background-color: #4caf50;
}
