<!-- Header  -->
<mat-toolbar class="header" color="secondary">
  <span>To Do List</span>
  <span class="example-spacer"></span>
  <div class="flex-align">
    <div style="margin-top: 15px">
      <mat-form-field appearance="outline" class="search--field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search..." [(ngModel)]="searchTerm" />
      </mat-form-field>
    </div>
    <button mat-button>Sign in</button>
  </div>
</mat-toolbar>

<!-- Content -->
<app-view-task-list
  [tasks]="data.tasks"
  [searchTerm]="searchTerm"
></app-view-task-list>

<!-- Footer  -->
<div style="height: 50px">
  <p style="margin: 20px auto; text-align: center">
    Copywrite &copy; 2023 Pranav Baraiya
  </p>
</div>

<button mat-fab class="add--icon" (click)="openDialog('Add New Task')">
  <mat-icon>add</mat-icon>
</button>
